*{
    margin: 0;
    padding: 0;
}
body{
    overflow-y: scroll;
}
.navbar-section{
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 50px;
}
.navbar{
    border-right: 1px solid #222;
}
.navbar a{
    padding: 4px 25px;
    cursor: default; /* Sets cursor to the default arrow */
}
.navbar-name{
    border-right: 1px solid #222;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.15s;
}
.navbar-name a{
    color: #fff;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: none;
    padding: 6px 15px;
    transition: color 0.15s;
}
.navbar-name:hover{
    background-color: #fff;
}
.navbar-name:hover a{
    color: #A50034;
}
.uni-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}
.logo{
    margin-left: 18px;
}
.uni-section{
    margin-right: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.uni-departments{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
}
.uni-section a{
    text-decoration: none;
    color: rgb(0, 122, 204);
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
}
.uni-schools{
    margin-right: 8px;
    transition: text-decoration 0.15s;
}
.uni-schools:hover a{
    text-decoration: underline;
}
.uni-MyEd{
    transition: text-decoration 0.15s;
}
.uni-MyEd:hover a{
    text-decoration: underline;
}
.search-bar{
    height: 36px;
    width: 370px;
    padding-left: 8px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: gray;
    background-color: #e1e1e1;
}
.search-bar::placeholder{
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
}
.search-icon{
    height: 38px;
    width: 42px;
    background-color: #A50034;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #A50034;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: -5px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.search-icon:hover{
    background-color: #ffffff;
    color: #A50034;
}
.bx-search{
    font-size: 14px;
}
.alumni-section{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.section-heading{
    background-color: #A50034;
    margin-top: -5px;
    height: 105.59px;
    display: flex;
    align-items: center;
}
.alumni-link a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: "Crimson TexT", serif;
    padding-left: 25px;
    transition: text-decoration 0.15s;
}
.alumni-link:hover a{
    text-decoration: underline;
}
.container{
    background-color: #F5F5F5;
    margin-top: -1px;
}
.more-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 20px;
}
.home-study{
    width: 1075px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: 3px;
    background-color: #E4E4E4;
}
.home-link a{
    padding-left: 10px;
    padding-right: 5px;
    text-decoration: none;
    color: rgb(109, 107, 107);
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    transition: text-decoration 0.15s;
}
.home-link:hover a{
    text-decoration: underline;
}
.greater-than{
    color: rgb(109, 107, 107);
    font-size: 12px;
    padding-right: 5px;
}
.alumni-title p{
    color: #333333;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
}
.contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 37px;
    background-color: #A50034;
    color: #fff;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.contact-us:hover{
    text-decoration: underline;
    background-color: #690726;
}
.alumni-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.empty{
    background-color: #A50034;
    color: #A50034;
    font-size: 4px;
    height: 8px;
}
.alumni-info-details{
    width: 400px;
}
.alumni-info{
    background-color: #fff;
    margin-top: -5px;
}
.alumni-info-title{
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
}
.alumni-info-title a{
    text-decoration: none;
    color: #A50034;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    transition: text-decoration 0.15s;
}
.alumni-info-title:hover a{
    text-decoration: underline;
}
.alumni-info-details p{
    width: 350px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    color: #333333;
}
.links{
    padding-bottom: 10px;
    padding-left: 15px;
}
.links a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(0, 122, 204);
    transition: text-decoration 0.15s;
}
.links:hover a{
    text-decoration: underline;
}
.publish{
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    color: #8C8C8C;
    margin-top: 35px;
    margin-left: 21px;
    margin-bottom: 35px;
}
.uni-name{
    background-color: rgb(66, 63, 63);
}
.uni-name p{
    margin-left: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 26px;
    font-family: "Source Sans Pro", sans-serif;
    color: #8C8C8C;
}
.institution-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(50, 50, 50);
}
.institution-affilliations{
    padding-top: 15px;
    padding-left: 21px;
}
.partnership{
    padding-top: 15px;
    padding-right: 21px;
}
.affilliation-links a{
    color: gray;
    text-decoration: none;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    transition: text-decoration 0.15s;
}
.affilliation-links:hover a{
    text-decoration: underline;
    color: #fff;
}
.university-registration{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 20px;
    padding-bottom: 21px;
    background-color: rgb(50, 50, 50);
}
.university-details{
    width: 850px;
    font-size: 14.5px;
    font-family: "Source Sans Pro", sans-serif;
    color: gray;
}
.MyEd-login-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 2px;
    background-color: #A50034;
    height: 25px;
    padding-left: 6px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.MyEd-login-button:hover{
    background-color: #690726;
}
.MyEd-login-button p{
    transition: text-decoration 0.15s;
}
.MyEd-login-button:hover p{
    text-decoration: underline;
}
.login-name{
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
}
.login-icon i{
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    color: #fff;
}
.edinburgh-copyright{
    color: gray;
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    padding-left: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}
.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}
.cookies-section{
    background-color: rgb(66, 63, 63);
    margin-top: 12px;
    padding: 8px 8px;
    position: fixed;
    bottom: 0;
}
.cookies-settings{
    background-color: rgb(66, 63, 63);
    padding: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;
    transition: opacity 0.15s;
}
.cookies-settings:hover{
    text-decoration: underline;
    opacity: 0.7;
}
.CMS-login{
    display: flex;
    align-items: center;
    margin-left: 1260px;
    margin-top: -50px;
}
.CMS-login p{
    font-size: 11px;
    font-family: "Source Sans Pro", sans-serif;
    color: gray;
}
.CMS-login .bx-chevron-right{
    font-size: 22px;
    color: rgb(50, 50, 50);
    font-weight: bold;
}