*{
    margin: 0;
    padding: 0;
}
body{
    overflow-y: scroll;
}
.uni-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}
.logo{
    margin-left: 18px;
}
.uni-section{
    margin-right: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.uni-departments{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
}
.uni-section a{
    text-decoration: none;
    color: rgb(42, 87, 143);
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.uni-schools{
    margin-right: 8px;
    transition: text-decoration 0.15s;
}
.uni-schools:hover a{
    text-decoration: underline;
}
.uni-MyEd{
    transition: text-decoration 0.15s;
}
.uni-MyEd:hover a{
    text-decoration: underline;
}
.search-bar{
    height: 36px;
    width: 370px;
    padding-left: 8px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: gray;
    background-color: #e1e1e1;
}
.search-bar::placeholder{
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
}
.search-icon{
    height: 38px;
    width: 42px;
    background-color: #007288;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #007288;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: -5px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.search-icon:hover{
    background-color: #ffffff;
    color: #007288;
}
.bx-search{
    font-size: 14px;
}
.global-section{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.section-heading{
    background-color: #007288;
    margin-top: -5px;
    height: 105.59px;
    display: flex;
    align-items: center;
}
.global-name{
    text-decoration: none;
    color: #fff;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    font-family: "Crimson TexT", serif;
    padding-left: 25px;
}
.navigation-section{
    display: flex;
    flex-direction: row;
    padding-left: 21px;
}
.navbar-img{
    background: #f5f5f5;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-right: 13px;
    padding-left: 16px;
    border-bottom: 3px solid #007288;
    cursor: pointer;
    transition: color 0.15s;
}
.bxs-home{
    text-decoration: none;
    font-size: 19px;
    color: #3a3a3a;
}
.navbar-img:hover .bxs-home{
    color: #007288;
}
.navbar-name{
    padding-top: 15px;
    padding-bottom: 14px;
    cursor: pointer;
}
.navbar-name a{
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: #3a3a3a;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-name:hover{
    background-color: #f5f5f5;
    border-bottom: 3px solid #007288;
}
.navbar-name:hover a{
    color: #007288;
}
.navbar-section{
    display: flex;
    flex-direction: row;
    padding-left: 23px;
}
.bxs-down-arrow{
    font-size: 12px;
}
.container{
    background-color: #F5F5F5;
    margin-top: -1px;
}
.more-details{
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
}
.home-study{
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px 10px;
    border-radius: 3px;
    background-color: #E4E4E4;
}
.home-link a{
    padding-left: 10px;
    padding-right: 5px;
    text-decoration: none;
    color: #505050;
    font-size: 14px;
    font-style: normal;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 24px; 
    transition: text-decoration 0.15s;
}
.home-link:hover a{
    text-decoration: underline;
}
.greater-than{
    color: rgb(109, 107, 107);
    font-size: 12px;
    padding-right: 5px;
}
.global-title a{
    text-decoration: none;
    color: #505050;
    font-size: 14px;
    font-style: normal;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 24px;
}
.global-title:hover a{
    text-decoration: underline;
}
.edinburgh-vision{
    margin-left: 150px;
    background-color: #007288;
    width: 960px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.vision-title{
    font-style: normal;
    font-size: 25px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
    padding-bottom: 20px;
}
.vision-details{
    font-style: normal;
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
}
.edinburgh-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    width: 960px;
}
.container-title{
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #007288;
    font-style: normal;
    font-size: 25px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
}
.strategic-partnerships{
    margin-left: 45px;
}
.container-details{
    padding-left: 25px;
    background-color: #fff;
    margin-top: -5px;
    padding-top: 15px;
    padding-bottom: 25px;
}
.vision-links{
    padding-bottom: 15px;
}
.vision-links a{
    text-decoration: none;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: #2a5799;
    transition: text-decoration 0.15s;
}
.vision-links:hover a{
    text-decoration: underline;
}
.vision-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    width: 960px;
    margin-top: 35px;
    margin-bottom: 25px;
}
.info-link{
    padding-left: 25px;
    background-color: #007288;
    padding-top: 15px;
    padding-bottom: 10px;
}
.info-link a{
    text-decoration: none;
    font-style: normal;
    font-size: 25px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    line-height: 36px;
    color: rgb(224, 255, 255);
    transition: text-decoration 0.15s;
}
.info-link:hover a{
    text-decoration: underline;
}
.info-title{
    padding-left: 25px;
    background-color: #007288;
    padding-top: 15px;
    padding-bottom: 10px;
    font-style: normal;
    font-size: 25px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    line-height: 36px;
    color: rgb(225, 255, 255);
}
.info-container{
    background-color: #fff;
    margin-top: -5px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 25px;
}
.info-paragraph{
    font-style: normal;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 27px;
    color: rgb(27, 27, 27);
    padding-bottom: 12px;
}
.more-visions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    width: 960px;
}
.seed-funding, .global-stories, .about-us{
    width: 300px;
    background-color: #007288;
    margin-bottom: 25px;
    padding-bottom: 15px;
}
.more-info{
    padding-left: 25px;
    font-style: normal;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
    padding-bottom: 15px;
}
.more-links{
    padding-left: 25px;
    padding-bottom: 12px;
}
.more-links a{
    text-decoration: none;
    font-style: normal;
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 27px;
    color: #e0ffff;
    transition: text-decoration 0.15s;
}
.more-links:hover a{
    text-decoration: underline;
}
.publish{
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    font-style: normal;
    font-family: "Source Sans Pro", sans-serif;
    color: #3a3a3a;
    margin-top: 35px;
    margin-left: 150px;
    margin-bottom: 35px;
}
.contact-us{
    background-color: #807c7c;
    padding: 30px;
}
.contact-button{
    margin-left: 850px;
    padding: 5px 6px;
    cursor: pointer;
    transition: background-color 0.15s;
    color: #fff;
    background-color: #007288;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-style: normal;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 24px;
}
.contact-button:hover{
    background-color: #236977;
    text-decoration: underline;
}
.contact-button i{
    font-size: 16px;
}
.uni-name{
    background-color: rgb(66, 63, 63);
}
.uni-name p{
    margin-left: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 26px;
    font-family: "Source Sans Pro", sans-serif;
    color: #8C8C8C;
}
.institution-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(50, 50, 50);
}
.institution-affilliations{
    padding-top: 15px;
    padding-left: 21px;
}
.partnership{
    padding-top: 15px;
    padding-right: 21px;
}
.affilliation-links a{
    color: gray;
    text-decoration: none;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    transition: text-decoration 0.15s;
}
.affilliation-links:hover a{
    text-decoration: underline;
    color: #fff;
}
.university-registration{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 20px;
    padding-bottom: 21px;
    background-color: rgb(50, 50, 50);
}
.university-details{
    width: 850px;
    font-size: 14.5px;
    font-family: "Source Sans Pro", sans-serif;
    color: gray;
}
.MyEd-login-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 2px;
    background-color: #007288;
    height: 25px;
    padding-left: 6px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.MyEd-login-button:hover{
    background-color: #236977;
}
.MyEd-login-button p{
    transition: text-decoration 0.15s;
}
.MyEd-login-button:hover p{
    text-decoration: underline;
}
.login-name{
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
}
.login-icon i{
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    color: #fff;
}
.edinburgh-copyright{
    color: gray;
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    padding-left: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}
.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}
.cookies-section{
    background-color: rgb(66, 63, 63);
    margin-top: 12px;
    padding: 8px 8px;
    position: fixed;
    bottom: 0;
}
.cookies-settings{
    background-color: rgb(66, 63, 63);
    padding: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;
    transition: opacity 0.15s;
}
.cookies-settings:hover{
    text-decoration: underline;
    opacity: 0.7;
}
.CMS-login{
    display: flex;
    align-items: center;
    margin-left: 1260px;
    margin-top: -50px;
}
.CMS-login p{
    font-size: 11px;
    font-family: "Source Sans Pro", sans-serif;
    color: gray;
}
.CMS-login .bx-chevron-right{
    font-size: 22px;
    color: rgb(50, 50, 50);
    font-weight: bold;
}