*{
    margin: 0;
    padding: 0;
}
body{
    overflow-y: scroll;
}
.navbar-section{
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 50px;
}
.navbar{
    border-right: 1px solid #222;
}
.navbar a{
    padding: 4px 25px;
    cursor: default; /* Sets cursor to the default arrow */
}
.navbar-name{
    border-right: 1px solid #222;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.15s;
}
.navbar-name a{
    color: #fff;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: none;
    padding: 6px 15px;
    transition: color 0.15s;
}
.navbar-name:hover{
    background-color: #fff;
}
.navbar-name:hover a{
    color: #004F71;
}
.uni-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}
.logo{
    margin-left: 18px;
}
.uni-section{
    margin-right: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.uni-departments{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
}
.uni-section a{
    text-decoration: none;
    color: rgb(0, 122, 204);
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
}
.uni-schools{
    margin-right: 8px;
    transition: text-decoration 0.15s;
}
.uni-schools:hover a{
    text-decoration: underline;
}
.uni-MyEd{
    transition: text-decoration 0.15s;
}
.uni-MyEd:hover a{
    text-decoration: underline;
}
.search-bar{
    height: 36px;
    width: 370px;
    padding-left: 8px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: gray;
    background-color: #e1e1e1;
}
.search-bar::placeholder{
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
}
.search-icon{
    height: 38px;
    width: 42px;
    background-color: #004F71;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #004F71;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: -5px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.search-icon:hover{
    background-color: #ffffff;
    color: #004F71;
}
.bx-search{
    font-size: 14px;
}
.news-section{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.section-heading{
    background-color: #004F71;
    margin-top: -5px;
    height: 105.59px;
    display: flex;
    align-items: center;
}
.news-link a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: "Crimson TexT", serif;
    padding-left: 25px;
    transition: text-decoration 0.15s;
}
.news-link:hover a{
    text-decoration: underline;
}
.container{
    background-color: #F5F5F5;
    margin-top: -1px;
}
.more-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 20px;
}
.home-study{
    width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: 3px;
    background-color: #E4E4E4;
    margin-right: 10px;
}
.home-link a{
    padding-left: 10px;
    padding-right: 5px;
    text-decoration: none;
    color: rgb(109, 107, 107);
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    transition: text-decoration 0.15s;
}
.home-link:hover a{
    text-decoration: underline;
}
.greater-than{
    color: rgb(109, 107, 107);
    font-size: 12px;
    padding-right: 5px;
}
.visit-title p{
    color: #333333;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
}
.contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 37px;
    background-color: #004F71;
    color: #fff;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.contact-us:hover{
    text-decoration: underline;
    background-color: #01293a;
}
.news-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4px;
}
.news-button-title{
    background-color: #004F71;
    width: 240px;
    border-width: 1px;
    border-style: solid;
    border: none;
}
.news-button-title a{
    color: #fff;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 18px 6px;
    text-decoration: none;
    transition: background-color 0.15s;
}
.news-button-title:hover a{
    text-decoration: underline;
    background-color: #01293a;
}
.news-button{
    background-color: #fff;
    width: 240px;
    border-width: 1px;
    border-style: solid;
    border: none;
}
.news-button a{
    color: #222;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 14px 6px;
    text-decoration: none;
    transition: background-color 0.15s;
}
.news-button:hover a{
    background-color: #F5F5F5;
    color: black;
    text-decoration: underline;
}