*{
    margin: 0;
    padding: 0;
}
body{
    overflow-y: scroll;
}
.navbar-section{
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 50px;
}
.navbar{
    border-right: 1px solid #222;
}
.navbar a{
    padding: 4px 25px;
    cursor: default; /* Sets cursor to the default arrow */
}
.navbar-name{
    border-right: 1px solid #222;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.15s;
}
.navbar-name a{
    color: #fff;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: none;
    padding: 6px 15px;
    transition: color 0.15s;
}
.navbar-name:hover{
    background-color: #fff;
}
.navbar-name:hover a{
    color: #487A7B;
}
.uni-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}
.logo{
    margin-left: 18px;
}
.uni-section{
    margin-right: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.uni-departments{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
}
.uni-section a{
    text-decoration: none;
    color: rgb(0, 122, 204);
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
}
.uni-schools{
    margin-right: 8px;
    transition: text-decoration 0.15s;
}
.uni-schools:hover a{
    text-decoration: underline;
}
.uni-MyEd{
    transition: text-decoration 0.15s;
}
.uni-MyEd:hover a{
    text-decoration: underline;
}
.search-bar{
    height: 36px;
    width: 370px;
    padding-left: 8px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: gray;
    background-color: #e1e1e1;
}
.search-bar::placeholder{
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
}
.search-icon{
    height: 38px;
    width: 42px;
    background-color: #487A7B;
    color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #487A7B;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: -5px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.search-icon:hover{
    background-color: #ffffff;
    color: #487A7B;
}
.bx-search{
    font-size: 14px;
}
.study{
    position: relative;
}
.edinburgh-extraordinary{
    position: absolute;
    top: 0;
    right: 21px;
    
}
.study-section{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.section-heading{
    background-color: #487A7B;
    margin-top: -5px;
    height: 105.59px;
    display: flex;
    align-items: center;
}
.study-link a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: "Crimson TexT", serif;
    padding-left: 25px;
    transition: text-decoration 0.15s;
}
.study-link:hover a{
    text-decoration: underline;
}
.container{
    background-color: #F5F5F5;
    margin-top: -1px;
}
.more-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 20px;
}
.home-study{
    width: 1075px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: 3px;
    background-color: #E4E4E4;
}
.home-link a{
    padding-left: 10px;
    padding-right: 5px;
    text-decoration: none;
    color: rgb(109, 107, 107);
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    transition: text-decoration 0.15s;
}
.home-link:hover a{
    text-decoration: underline;
}
.greater-than{
    color: rgb(109, 107, 107);
    font-size: 12px;
    padding-right: 5px;
}
.study-title p{
    color: #333333;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
}
.contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 37px;
    background-color: #487A7B;
    color: #fff;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.contact-us:hover{
    text-decoration: underline;
    background-color: #114646;
}
.programmes-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.programmes-info{
    width: 630px;
    background-color: #487A7B;
    margin-bottom: 20px;
    margin-top: -4px;
}
.programmes-title{
    padding-top: 15px;
    padding-left: 10px;
    cursor: pointer;
}
.programmes-title a{
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: none;
    color: rgb(144, 243, 233);
    transition: text-decoration 0.15s;
}
.programmes-title:hover a{
    text-decoration: underline;
}
.programmes-details{
    width: 550px;
    padding-top: 12px;
    padding-left: 10px;
    padding-bottom: 8px;
}
.programmes-details p{
    color: #fff;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
}
.info-searchbar{
    padding-left: 10px;
    padding-bottom: 10px;
}
.degree-searchbar{
    height: 36px;
    width: 500px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #e1e1e1;
 }
 .degree-searchbar::placeholder{
     font-size: 16px;
     font-family: "Source Sans Pro", sans-serif;
 }
 .degree-search-icon{
     height: 38px;
     width: 42px;
     background-color: #fff;
     color: rgb(27, 27, 78);
     border-width: 1px;
     border-style: solid;
     border-color: gray;
     border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
     margin-left: -5px;
     cursor: pointer;
     transition: background-color 0.15s;
 }
 .degree-search-icon:hover{
     background-color: #e1e1e1;
 }
 .degree-search-icon .bx-search{
     font-size: 14px;
 }
 .community-programmes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .community{
    margin-bottom: 20px;
    background-color: #fff;
 }
 .community-info{
    padding-top: 15px;
    padding-left: 10px;
 }
 .community-title{
    margin-bottom: 10px;
    cursor: pointer;
 }
 .community-title a{
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: none;
    color: #487A7B;
    transition: text-decoration 0.15s;
 }
 .community-title:hover a{
    text-decoration: underline;
 }
 .community-details{
    width: 400px;
    padding-bottom: 10px;
 }
 .community-details p{
    width: 350px;
    color: rgb(27, 27, 78);
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
 }
 .school-advice{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
 }
 .heading{
    width: 630px;
    background-color: #487A7B;
    display: flex;
    justify-content: start;
    align-items: center;
 }
 .heading a{
    padding: 12px 10px;
    text-decoration: none;
    color: rgb(144, 243, 233);
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
 }
 .heading:hover a{
    text-decoration: underline;
 }
 .heading p{
    padding: 12px 10px;
    color: #fff;
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
 }
 .course-details{
    width: 630px;
    background-color: #fff;
    margin-top: -3px;
 }
 .course-details p{
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 600px;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(27, 27, 78);
 }
 .advices{
    margin-bottom: 20px;
 }
 .advice-links{
    background-color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
 }
 .links{
    padding-bottom: 8px;
    padding-top: 8px;
    position: relative;
 }
 .links .link-tooltip{
    position: absolute;
    background-color: #333333;
    color: gray;
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 5px 5px;
    left: 80px;
    top: 25px;
    opacity: 0;
    z-index: 1;
 }
 .links:hover .link-tooltip{
    opacity: 1;
 }
 .links a{
   text-decoration: none;
   color: rgb(0, 122, 204);
   font-size: 14px;
   font-family: "Source Sans Pro", sans-serif;
 }
 .links:hover a{
    text-decoration: underline;
    color: rgb(27, 27, 78);
 }
 .empty{
    background-color: #487A7B;
    color: #487A7B;
    font-size: 2px;
    height: 7px;
 }
 .related-links p{
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
 }
 .publish{
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    color: #8C8C8C;
    margin-left: 21px;
    margin-bottom: 35px;
}
.info-container{
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-section{
    display: flex;
    flex-direction: column;
}
.button-section{
    padding-bottom: 10px;
}
.uni-button{
    background-color: #487A7B;
    display: flex;
    align-items: center;
    margin-left: 21px;
    margin-top: 14px;
    border: none;
    border-radius: 3px;
    transition: background-color 0.15s;
}
.uni-button:hover{
    background-color: #114646;
}
.uni-button a{
    text-decoration: none;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    transition: text-decoration 0.15s;
}
.uni-button:hover a{
    text-decoration: underline;
}
.bx-info-circle{
    color: #fff;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}
.info-contact{
    margin-right: 300px;
    margin-top: 20px;
}
.contact-info{
    display: flex;
    align-items: center;
    padding: 2px 4px;
    cursor: pointer;
    color: #fff;
    background-color: #487A7B;
    border: none;
    border-radius: 3px;
    transition: background-color 0.15s;
}
.bx-chevron-right{
    font-size: 25px;
}
.contact-info:hover{
    background-color: #114646;
}
.contact-info:hover p{
    text-decoration: underline;
}
.button-section{
    position: relative;
}
.button-section .button-tooltip{
    position: absolute;
    background-color: #333333;
    color: gray;
    opacity: 0;
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    left: 170px;
    top: 27px;
    transition: opacity 0.15s;
    white-space: nowrap;
    pointer-events: none;
}
.button-section:hover .button-tooltip{
    opacity: 1;
}
.uni-name{
    background-color: rgb(66, 63, 63);
}
.uni-name p{
    margin-left: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 26px;
    font-family: "Source Sans Pro", sans-serif;
    color: #8C8C8C;
}
.institution-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(50, 50, 50);
}
.institution-affilliations{
    padding-top: 15px;
    padding-left: 21px;
}
.partnership{
    padding-top: 15px;
    padding-right: 21px;
}
.affilliation-links a{
    color: gray;
    text-decoration: none;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    transition: text-decoration 0.15s;
}
.affilliation-links:hover a{
    text-decoration: underline;
    color: #fff;
}
.university-registration{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 20px;
    padding-bottom: 21px;
    background-color: rgb(50, 50, 50);
}
.university-details{
    width: 850px;
    font-size: 14.5px;
    font-family: "Source Sans Pro", sans-serif;
    color: gray;
}
.MyEd-login-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 2px;
    background-color: #487A7B;
    height: 25px;
    padding-left: 6px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.MyEd-login-button:hover{
    background-color: #114646;
}
.MyEd-login-button p{
    transition: text-decoration 0.15s;
}
.MyEd-login-button:hover p{
    text-decoration: underline;
}
.login-name{
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
}
.login-icon i{
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    color: #fff;
}
.edinburgh-copyright{
    color: gray;
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    padding-left: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}
.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}
.cookies-section{
    background-color: rgb(66, 63, 63);
    margin-top: 12px;
    padding: 8px 8px;
    position: fixed;
    bottom: 0;
}
.cookies-settings{
    background-color: rgb(66, 63, 63);
    padding: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;
    transition: opacity 0.15s;
}
.cookies-settings:hover{
    text-decoration: underline;
    opacity: 0.7;
}
.CMS-login{
    display: flex;
    align-items: center;
    margin-left: 1260px;
    margin-top: -50px;
}
.CMS-login p{
    font-size: 11px;
    font-family: "Source Sans Pro", sans-serif;
    color: gray;
}
.CMS-login .bx-chevron-right{
    font-size: 22px;
    color: rgb(50, 50, 50);
    font-weight: bold;
}